.Rproj.user
.Rhistory
.RData
.Ruserdata
results/.csv
results/.png
results/.pdf
source/03_extract_estimates.R
simulations/run_simulations.R
analysis/final_report.html
analysis/final_report.pdf
source/.DS_Store
source/.gitkeep
data/.DS_Store
data/aggregated_scenario_1.RDA
data/scenario_1.RDA
results/.DS_Store
results/.gitkeep